/* @import url('../fonts/stylesheet.css'); */
@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic';
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: 'Century Gothic';
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h3 {
  font-size: 40pt;
}

h6 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 24px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.insights, .feature-blog, .recent-post, .newsletter, .other-blogs {
  padding: 5rem 0;
}

@media (max-width: 1440px) {
  .insights, .feature-blog, .recent-post, .newsletter, .other-blogs {
    padding: 3rem 0;
  }
}

.insights .digital-insights {
  padding-bottom: 2.5rem;
}

@media (max-width: 1440px) {
  .insights .digital-insights {
    padding-bottom: 1.5rem;
  }
}

.read-more {
  margin-left: -3rem;
  border-radius: 35px;
  color: #c10000;
  padding: 1rem 3rem;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 0;
  font-weight: 600;
  display: inline-block;
}

.read-more::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 7px;
  z-index: -1;
  background: url("../images/round.svg") no-repeat center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.read-more::before {
  content: "";
  position: absolute;
  width: 0px;
  top: 27px;
  height: 2px;
  background: #c2c2c2;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(264%);
  transform: translateX(264%);
}

.read-more:hover {
  color: #000000;
  text-decoration: none;
}

.read-more:hover::before {
  width: 55px;
}

.read-more:hover::after {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.date {
  color: #c10000;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 0;
  font-weight: 600;
}

.bordered-row {
  border: 1px solid grey;
}

.insights .digital-insights {
  text-align: center;
}

.insights .digital-insights h1 {
  font-weight: bold;
}

.insights .digital-insights h6 {
  font-weight: normal;
}

.search-blog {
  height: 4rem;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 6px;
}

.search-blog .search-blog-input {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 70%;
  padding: 0 20px;
}

.search-blog .search-blog-input::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #c2c2c2;
}

.search-blog .search-blog-input:-ms-input-placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #c2c2c2;
}

.search-blog .search-blog-input::-ms-input-placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #c2c2c2;
}

.search-blog .search-blog-input::placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #c2c2c2;
}

.search-blog .search-blog-submit {
  background: #c10000;
  padding: 10px 40px;
  right: 0px;
  bottom: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #c10000;
  border-radius: 6px;
}

.feature-blog .feature-blog-img > img {
  margin-left: 30px;
  margin-top: -30px;
}

.feature-blog .feature-blog-text h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.feature-blog .feature-blog-text > .date,
.feature-blog .feature-blog-text p {
  display: block;
  margin-bottom: 1rem;
}

.feature-blog .feature-blog-text > .read-more {
  margin-bottom: 1rem;
}

.recent-post h2 {
  color: #c10000;
  font-weight: bold;
  text-align: center;
}

.newsletter fieldset {
  border: 1px solid #7d7d7d;
  padding: 15px;
}

.newsletter fieldset legend {
  font-size: 35px !important;
  font-weight: bold;
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0px 10px;
}

.newsletter fieldset .search-blog {
  width: 80%;
}

.newsletter .follow-us {
  margin-top: -3.5rem;
}

.newsletter .follow-us > h3 {
  font-size: 35px;
  display: inline-block;
  background-color: #ffffff;
  padding: 0px 10px;
  margin-bottom: 30px;
}

.newsletter .follow-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter .follow-us-list li {
  margin-right: 20px;
}

.newsletter .follow-us-list li a img {
  height: 40px;
  width: 40px;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .newsletter fieldset legend {
    font-size: 25px !important;
  }
  .newsletter .follow-us > h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .read-more {
    font-size: 13px;
    margin-top: 0rem;
    padding: 1rem 1.5rem;
  }
  .read-more:after {
    right: 10px;
    opacity: 0.5;
  }
  .read-more:before {
    -webkit-transform: translateX(204%);
    transform: translateX(204%);
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */